<ion-header>
  <ion-toolbar>
    <ion-title>UKM UMN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let ukm of loadedUkms">
        <ion-card-header>
            <ion-card-title>{{ukm.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{ukm.description}}</p>
            <div text-right>
                <ion-button color="primary" (click)="onJoinClick(ukm.name)">Join</ion-button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
